.site-footer
{
  background-color:#000000;
  padding:45px 0 56px;
  font-size: 16px;
  line-height:29px;
  color:#ffffff;
}
.site-footer hr
{
  border-top-color:rgb(226, 226, 226);
  opacity:0.8;
}
.site-footer hr.small
{
  margin:20px 0;
}
.site-footer h6
{
  color:rgb(250, 250, 250);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
}
.site-footer a
{
  color:#ffffff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none;
}
.footer-links li
{
  display:block;
}
.footer-links a
{
  color:#ffffff;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block;
}
.site-footer .social-icons
{
  text-align:right;
}
.site-footer .social-icons a
{
  width:41px;
  height:42px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#000000;
} 
.copyright-text
{
  margin:0;
  font-size: 16px;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px;
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center !important;
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  text-align: center !important;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;
  text-align: center !important;
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#fa1010;
  font-weight:700;
  font-size:13px;
  text-align: center !important;
}
.social-icons a{
  background-color:#eceeef;
  color:#fc0505;
  font-size:35px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
  text-align: center !important;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#1bf535;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px;
  text-align: center !important;
}
.social-icons a.whatsapp:hover
{
  background-color:green;
}
.social-icons a.instagram:hover
{
  background-color:palevioletred;
}
.social-icons a.location:hover
{
  background-color:#007bb6;
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600;
  }
}
p.text-justify{

  font-size: 16px;
}
 div.container{
  text-align: center !important;
  margin-top: 10px;
 }
